@import "../../scss/variables", "../../scss/mixins";

.projects-title {
  min-height: 40vh;
  margin: auto;
}

.projects {
  background-color: $primary-color;
  &_layout {
    width: 70%;
    margin: auto;
    &_project {
      height: 300px;
      position: relative;
      &_image {
        width: 100%;
        height: 100%;
        border-bottom: 0.4rem solid $secondary-color;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: $secondary-color;
        opacity: 0;
        @include transition(0.5s);
      }
      &:hover {
        &::after {
          opacity: 0.7;
        }
      }
    }
  }
}
